* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Arial, sans-serif;
  background: #09090c;
  color: #f5f5f7;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(9, 9, 12, 0.9);
  backdrop-filter: blur(18px);
  border-bottom: 1px solid #222128;
}

.nav-container {
  width: min(1160px, calc(100% - 40px));
  height: 78px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  margin-right: auto;
}

.logo span {
  display: inline-grid;
  place-items: center;
  width: 35px;
  height: 35px;
  margin-right: 8px;
  border: 1px solid #806cff;
  border-radius: 9px;
  color: #a99cff;
  font-size: 12px;
}

nav {
  display: flex;
  gap: 24px;
}

nav a {
  color: #aaa7b0;
  font-size: 13px;
}

nav a:hover {
  color: #a392ff;
}

.talk-btn {
  border: 1px solid #393640;
  border-radius: 9px;
  padding: 10px 16px;
  font-size: 13px;
}

.menu-btn {
  display: none;
  background: none;
  border: 0;
  color: white;
  font-size: 25px;
}

/* HERO */

.hero {
  min-height: calc(100vh - 78px);
  width: min(1160px, calc(100% - 40px));
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  gap: 60px;
  padding: 70px 0;
}

.available {
  display: inline-flex;
  align-items: center;
  gap: 9px;

  padding: 7px 13px;

  border: 1px solid #332e42;
  border-radius: 50px;

  color: #aaa5b5;
  font-size: 10px;
  letter-spacing: 1px;
}

.available span {
  width: 7px;
  height: 7px;

  border-radius: 50%;
  background: #9684ff;

  box-shadow: 0 0 15px #9684ff;
}

.hello {
  color: #88848e;
  font-size: 18px;
  margin-top: 25px;
}

.hero h1 {
  font-family: "Space Grotesk", Arial, sans-serif;
  font-size: clamp(60px, 8vw, 105px);
  line-height: 0.92;
  letter-spacing: -5px;
  margin: 7px 0 25px;
}

.hero h1 span {
  color: #9987ff;
}

.hero h2 {
  color: #d2d0d7;
  font-size: 19px;
  font-weight: 500;
}

.description {
  color: #8d8994;
  font-size: 15px;
  max-width: 580px;
  margin: 18px 0 30px;
}

.hero-buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  border-radius: 9px;
  font-size: 13px;
  font-weight: 600;
}

.primary {
  background: #9582ff;
  color: #0b0910;
}

.primary:hover {
  background: #aa9bff;
}

.secondary {
  border: 1px solid #393640;
}

.social-links {
  display: flex;
  gap: 22px;
  margin-top: 30px;
  color: #77737e;
  font-size: 12px;
  flex-wrap: wrap;
}

.social-links a:hover {
  color: #a292ff;
}

/* HERO DESIGN */

.hero-design {
  position: relative;
  min-height: 460px;

  display: grid;
  place-items: center;
}

.code-window {
  width: min(500px, 100%);

  background: #121216;
  border: 1px solid #302d39;
  border-radius: 17px;

  box-shadow: 0 30px 90px rgba(0,0,0,.5);

  transform: rotate(1deg);

  position: relative;
  z-index: 2;
}

.window-top {
  height: 45px;
  border-bottom: 1px solid #292730;

  display: flex;
  align-items: center;
  gap: 7px;
  padding: 0 15px;
}

.window-top span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #44404b;
}

.window-top small {
  margin-left: auto;
  color: #696570;
  font-size: 10px;
}

.code {
  padding: 28px;
  font-family: monospace;
  color: #a6a1ad;
  font-size: 14px;
  line-height: 2;
}

.code b {
  color: #a998ff;
}

.code strong {
  color: #d7a6ff;
}

.indent {
  padding-left: 25px;
}

.indent-two {
  padding-left: 50px;
}

.glow {
  position: absolute;
  border-radius: 50%;
  filter: blur(50px);
  opacity: .25;
}

.glow-one {
  width: 230px;
  height: 230px;
  background: #765eff;
  right: 0;
  top: 50px;
}

.glow-two {
  width: 180px;
  height: 180px;
  background: #c55aff;
  left: 0;
  bottom: 30px;
}

.tech-tag {
  position: absolute;
  z-index: 3;

  background: #17151d;
  border: 1px solid #383342;

  padding: 9px 14px;
  border-radius: 9px;

  color: #bbb6c5;
  font-size: 11px;
}

.tag-one {
  left: 0;
  top: 60px;
}

.tag-two {
  right: 0;
  top: 190px;
}

.tag-three {
  left: 20px;
  bottom: 70px;
}

/* SECTIONS */

.section {
  width: min(1160px, calc(100% - 40px));
  margin: auto;
  padding: 110px 0;
}

.dark-section {
  width: 100%;
  padding-left: max(20px, calc((100% - 1160px) / 2));
  padding-right: max(20px, calc((100% - 1160px) / 2);

  background: #0e0e13;
  border-top: 1px solid #19181f;
  border-bottom: 1px solid #19181f;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 55px;
}

.section-title span {
  color: #9180ff;
  font-size: 11px;

  border: 1px solid #393345;
  border-radius: 6px;

  padding: 5px 8px;
}

.section-title h2 {
  font-family: "Space Grotesk", Arial, sans-serif;
  font-size: 44px;
  letter-spacing: -2px;
}

/* ABOUT */

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.big-text {
  font-family: "Space Grotesk", Arial, sans-serif;
  font-size: clamp(32px, 4vw, 52px);
  line-height: 1.1;
  letter-spacing: -2px;
}

.big-text span {
  color: #9a89ff;
}

.about-content {
  color: #99959e;
  font-size: 14px;
}

.about-content p + p {
  margin-top: 15px;
}

.stats {
  display: flex;
  gap: 45px;

  margin-top: 35px;
  padding-top: 25px;

  border-top: 1px solid #29272e;
}

.stats div {
  display: grid;
}

.stats strong {
  font-family: "Space Grotesk";
  font-size: 30px;
}

.stats span {
  color: #77737c;
  font-size: 10px;
  text-transform: uppercase;
}

/* SKILLS */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 14px;
}

.skill-card {
  grid-column: span 2;

  min-height: 205px;
  padding: 24px;

  border: 1px solid #28252e;
  border-radius: 14px;

  background: #131218;
}

.skill-card:nth-child(4),
.skill-card:nth-child(5) {
  grid-column: span 3;
}

.skill-card small {
  color: #9180ff;
  font-size: 9px;
  letter-spacing: 1px;
}

.skill-card h3 {
  font-family: "Space Grotesk";
  font-size: 25px;
  margin: 8px 0 20px;
}

.tags,
.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.tags span,
.project-tags span {
  border: 1px solid #312e38;
  border-radius: 7px;

  padding: 6px 8px;

  color: #aaa5af;
  font-size: 10px;
}

/* EXPERIENCE */

.timeline {
  max-width: 900px;
  margin-left: auto;
}

.experience-item {
  display: grid;
  grid-template-columns: 190px 1fr;

  gap: 30px;

  padding: 0 0 55px 30px;

  border-left: 1px solid #302d36;

  position: relative;
}

.experience-item::before {
  content: "";

  position: absolute;

  width: 9px;
  height: 9px;

  background: #9482ff;

  border-radius: 50%;

  left: -5px;
  top: 5px;

  box-shadow: 0 0 15px #9482ff;
}

.date {
  color: #77737e;
  font-size: 11px;
}

.experience-item h3 {
  font-family: "Space Grotesk";
  font-size: 23px;
}

.experience-item p {
  color: #8e8a94;
  font-size: 14px;
}

.label {
  display: inline-block;

  margin-top: 14px;

  border: 1px solid #332f3b;
  border-radius: 50px;

  padding: 4px 9px;

  color: #8d8796;
  font-size: 9px;
}

/* PROJECTS */

.project {
  display: grid;
  grid-template-columns: .9fr 1.1fr;

  gap: 50px;

  padding: 35px 0;

  border-top: 1px solid #29272f;
}

.project:first-of-type {
  padding-top: 0;
  border-top: 0;
}

.project-preview {
  height: 330px;

  border: 1px solid #302d39;
  border-radius: 18px;

  display: grid;
  place-items: center;

  position: relative;
  overflow: hidden;
}

.apsche-preview {
  background: linear-gradient(135deg, #181522, #0e1019);
}

.sky-preview {
  background: linear-gradient(135deg, #101827, #111018);
}

.wallet-preview {
  background: linear-gradient(135deg, #17121e, #101015);
}

.project-preview > b {
  position: absolute;

  bottom: 15px;
  right: 20px;

  font-family: "Space Grotesk";
  font-size: 70px;

  color: #ffffff12;
}

.browser {
  width: 70%;
  height: 60%;

  border: 1px solid #3b3645;
  border-radius: 12px;

  background: #121219;
}

.browser-bar {
  height: 25px;

  border-bottom: 1px solid #292630;

  display: flex;
  gap: 6px;

  padding: 8px;
}

.browser-bar span {
  width: 6px;
  height: 6px;

  border-radius: 50%;
  background: #514b58;
}

.fake-page {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 10px;

  padding: 25px;
}

.fake-page div {
  height: 55px;

  border-radius: 6px;

  background: #282233;
}

.weather-card {
  width: 55%;
  height: 70%;

  border: 1px solid #3a3948;
  border-radius: 17px;

  background: #151722;

  text-align: center;

  padding: 25px;
}

.sun {
  width: 55px;
  height: 55px;

  margin: auto auto 15px;

  border-radius: 50%;

  background: #b8a8ff;

  box-shadow: 0 0 35px #8977ff88;
}

.weather-card strong {
  display: block;

  font-family: "Space Grotesk";
  font-size: 35px;
}

.weather-card span {
  color: #777;
  font-size: 11px;
}

.forecast {
  height: 40px;

  margin-top: 20px;

  border-top: 1px solid #292a36;
}

.wallet-card {
  width: 60%;

  padding: 30px;

  border: 1px solid #3b3547;
  border-radius: 15px;

  background: #17131d;
}

.wallet-card small {
  color: #9684ff;
}

.wallet-card strong {
  display: block;

  margin-top: 15px;

  font-family: "Space Grotesk";
  font-size: 24px;
}

.project-info {
  align-self: center;
}

.project-info small {
  color: #9180ff;
  font-size: 9px;
  letter-spacing: 1px;
}

.project-info h3 {
  font-family: "Space Grotesk";
  font-size: clamp(30px, 4vw, 45px);
  letter-spacing: -2px;

  margin: 8px 0 12px;
}

.project-info p {
  max-width: 600px;

  color: #8d8992;
  font-size: 14px;
}

.project-tags {
  margin: 20px 0;
}

.project-links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.project-links a {
  color: #c2bccd;

  font-size: 11px;

  border-bottom: 1px solid #514c59;

  padding-bottom: 3px;
}

.project-links a:hover {
  color: #9b8bff;
  border-color: #9b8bff;
}

/* EDUCATION */

.education-list {
  border-top: 1px solid #29272f;
}

.education-item {
  display: grid;
  grid-template-columns: 180px 1fr 40px;

  align-items: center;

  gap: 30px;

  padding: 25px 0;

  border-bottom: 1px solid #29272f;
}

.education-item > span {
  color: #77737e;
  font-size: 11px;
}

.education-item h3 {
  font-family: "Space Grotesk";
  font-size: 22px;
}

.education-item p {
  color: #88838d;
  font-size: 13px;
}

.education-item b {
  color: #77737e;
}

/* CERTIFICATIONS */

.cert-grid {
  display: grid;

  grid-template-columns: repeat(5, 1fr);

  gap: 12px;
}

.certificate {
  min-height: 210px;

  padding: 22px;

  border: 1px solid #2a2730;
  border-radius: 14px;

  background: #131218;

  display: flex;
  flex-direction: column;
}

.certificate > span {
  color: #9180ff;
  font-size: 11px;
}

.certificate h3 {
  font-family: "Space Grotesk";
  font-size: 19px;
  line-height: 1.2;

  margin-top: auto;
}

.certificate p {
  color: #77727d;
  font-size: 11px;
  margin-top: 8px;
}

/* CONTACT */

.contact {
  padding-bottom: 70px;
}

.contact-box {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 60px;

  padding: 55px;

  border: 1px solid #342f3d;
  border-radius: 22px;

  background: linear-gradient(120deg, #14121b, #0d0d11);
}

.contact-box small {
  color: #9180ff;
}

.contact-box h2 {
  font-family: "Space Grotesk";

  font-size: clamp(38px, 5vw, 65px);

  line-height: 1;

  letter-spacing: -2px;

  margin: 13px 0 20px;
}

.contact-box h2 span {
  color: #9b8aff;
}

.contact-box p {
  color: #8b8791;
}

.contact-details {
  align-self: center;

  display: grid;

  gap: 16px;
}

.contact-details > a {
  padding-bottom: 14px;

  border-bottom: 1px solid #302d36;

  font-family: "Space Grotesk";

  font-size: 16px;
}

.contact-details > a:hover {
  color: #a08fff;
}

.contact-details div {
  display: flex;
  gap: 25px;

  color: #99939f;

  font-size: 13px;
}

/* FOOTER */

footer {
  width: min(1160px, calc(100% - 40px));

  margin: auto;

  border-top: 1px solid #25232a;

  padding: 25px 0 35px;

  display: flex;

  justify-content: space-between;

  color: #68646e;

  font-size: 11px;
}

footer a:hover {
  color: #a08fff;
}

/* MOBILE */

@media(max-width:900px) {

  .nav-container {
    height: 68px;
  }

  nav,
  .talk-btn {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  nav.open {
    position: absolute;

    display: flex;

    flex-direction: column;

    top: 68px;
    left: 0;
    right: 0;

    padding: 25px;

    background: #0b0b0f;

    border-bottom: 1px solid #25222c;
  }

  .hero {
    grid-template-columns: 1fr;

    padding-top: 60px;
  }

  .about-grid,
  .contact-box {
    grid-template-columns: 1fr;
  }

  .skills-grid {
    grid-template-columns: 1fr 1fr;
  }

  .skill-card,
  .skill-card:nth-child(4),
  .skill-card:nth-child(5) {
    grid-column: span 1;
  }

  .project {
    grid-template-columns: 1fr;
  }

  .cert-grid {
    grid-template-columns: 1fr 1fr;
  }

  .experience-item {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}

@media(max-width:600px) {

  .hero h1 {
    font-size: 62px;
    letter-spacing: -3px;
  }

  .hero h2 {
    font-size: 16px;
  }

  .hero-design {
    min-height: 330px;
  }

  .code {
    font-size: 11px;
    padding: 20px;
  }

  .section {
    padding: 75px 0;
  }

  .section-title {
    margin-bottom: 35px;
  }

  .section-title h2 {
    font-size: 34px;
  }

  .skills-grid,
  .cert-grid {
    grid-template-columns: 1fr;
  }

  .skill-card,
  .skill-card:nth-child(4),
  .skill-card:nth-child(5) {
    grid-column: span 1;
  }

  .stats {
    gap: 20px;
    flex-wrap: wrap;
  }

  .project-preview {
    height: 260px;
  }

  .project-info h3 {
    font-size: 32px;
  }

  .education-item {
    grid-template-columns: 1fr 35px;
  }

  .education-item > span {
    grid-column: 1 / -1;
  }

  .contact-box {
    padding: 32px 23px;
  }

  .contact-box h2 {
    font-size: 40px;
  }

  footer {
    flex-direction: column;
    gap: 10px;
  }

  .tech-tag {
    font-size: 9px;
  }
  }
